
  .modal-card {
    overflow: hidden;
  }

.background  {
  background-image: url("../images/theatre-wallpaper.png");
}

.marquee {
  background-image: url("../images/marquee.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-position: 80%;

}

.saved-search {
  margin-top: 20px;
  margin-bottom: 60px;
}


