body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 60px;
  color: black;
  font-weight: boldest;
  font-family: 'Vast Shadow', cursive;
  
}

p {
  font-size: 30px;
  padding: 20px;
  text-align: center;
} 

.background  {
  background-image: url("../images/theatre-wallpaper.png");
}

.btn-background {
  background-image: url("../images/theatre-wallpaper.png");
}

.marquee {
  background-image: url("../images/now-showing.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-position: 80%;
  image-rendering: optimizeQuality;
}

.hero-head {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero-body {
margin: auto;
padding-bottom: 60px;
}

.intro {
  margin-bottom: 200px;
}

.search {
  margin-top: 300px;
  margin-left: 600px;
}

.watch {
  margin-left: 900px;
  margin-bottom: -50px;
}

.chill {
  margin-left: 1200px;
  font-size: 180px;
  color: rgb(167, 167, 167);
  font-style: italic;
}

.saved-search {
  margin-top: 20px;
  margin-bottom: 60px;
}

.thumbnails {
  margin: 0 0 80px;
}

.spacer {
  background-image: url("../images/theatre-wallpaper.png");
}

.icon {
  height: 20em;
  width: 20em;
}

.modal-card-head {
  background-image: url("../images/popcorn.png");
}

.modal-card-title {
  font-family: 'Vast Shadow', cursive;
  font-size: 30px;
}

.modal-card-body {
  background-image: url("../images/golden-ticket-jpg");
}

.modal-card-foot {
  background-image: url("../images/curtains.png");
}

.ticket {
  background-image: url("../images/golden-ticket.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  font-family: 'Vast Shadow', cursive;
  font-size: 40px;  
  background-image: url("../images/golden-ticket.jpg");
}

@media screen and (max-width: 980px) {
  .search {
    margin-left: 100px;
    font-size: 80px;
  }

  .watch {
    margin-left: 200px;
    font-size: 80px;
  }

  .chill {
    margin-left: 400px;
    font-size: 80px;
    font-style: italic;
  }
}

@media screen and (max-width: 768px) {
  .search {
    margin-left: 60px;
    font-size: 60px;
  }
  
  .watch {
    margin-left: 90px;
    font-size: 60px;
  }
  
  .chill {
    margin-left: 120px;
    font-size: 60px;

    font-style: italic;
  }
}


@media screen and (max-width: 575px) {
  p {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .search {
    margin-left: 50px;
    font-size: 50px;
  }
  
  .watch {
    margin-left: 70px;
    font-size: 50px;

  }
  
  .chill {
    margin-left: 100px;
    font-size: 50px;
    color: black;
    font-style: italic;
  }
}
